[submodule "themes/noteworthy"]
	path = themes/noteworthy
	url = https://github.com/kimcc/hugo-theme-noteworthy/
[submodule "themes/timeline"]
	path = themes/timeline
	url = https://github.com/s4n7h0/hugo-theme-timeline.git
